<h1>COMIC BOOKS</h1>


<% @comic_books.each do |comic| %>
<ul class='index-covers'>
  <div class='box-art'>
    <li><%= link_to comic.title, comic_book_path(comic), class: 'comic-book' %></li>
      <% if comic.cover.present?  %>
        <li><%= link_to (image_tag comic.cover, class:'cover-art'),comic_book_path(comic), class: 'cover-art' %></li>
      <% else %>
        <%= image_tag 'nocover.png' %>
      <% end %>
    <li>Issue #: <%= comic.issue %></li>
  </div>
</ul>
  <% end %>
<div>
<%= link_to "Add comic", new_comic_book_path %>
<%= paginate @comic_books %>
</div>
