<h1><%= @comic_book.title %> </h1>
<p>
  <%= @comic_book.issue %>
</p>
<p>
  <%= @comic_book.year %>
</p>
<p>
  <%= @comic_book.author %>
</p>
<p>
  <%= @comic_book.artist %>
</p>
<p>
  <%= @comic_book.description %>
</p>
<p>
  <%= link_to 'Edit Comic', edit_comic_book_path %>
</p>
<p>
  <%= link_to 'Delete Comic', comic_book_path(@comic_book), method: :delete %>
</p>

<div id='comic_book_ratings'>
  <ul>
    <% binding.pry  %>
    <% if @ratings.any? do %>
        <% @ratings.each do |rating| %>
          <li><%= rating.body %></li>
          <li><%= rating.rating  %></li>
      <% end %>
    <% end  %>
  </ul>
</div>

<h2>Add a Review:</h2>
<%= form_for([@comic_book, @comic_book.ratings.build]) do |f| %>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :rating %><br>
    <%= f.select(:rating, 1..10) %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
