<!--/Comic Book Info/-->

<h1 class='comic-header'>
  <%= @comic_book.title %>
</h1>
<div class='show-cover'>
  <p>
    <%= image_tag @comic_book.cover %>
  </p>
  <ul>
    <li>
      <%= link_to 'Edit Comic', edit_comic_book_path, class:'button' %>
    </li>
    <li>
      <%= link_to 'Delete Comic', comic_book_path(@comic_book), method: :delete, class:'button' %>
    </li>
  </ul>
</div>

<div class='comic-info'>
  <ul>
    <li>
      Issue : <%= @comic_book.issue%>
    </li>
    <li>
      Year Published : <%= @comic_book.year %>
    </li>
    <li>
      Author :<%= @comic_book.author %>
    </li>
    <li>
      Artist :<%= @comic_book.artist %>
    </li>
    <li>
      Description :<%= @comic_book.description %>
    </li>
  </ul>
</div>

<!-- /Show reviews/ -->
<div class='ratings-panel'>
  <ul>
    <% @reviews.each do |review|  %>
      <li><%= review.body %></li>
      <%= link_to 'Edit Review', edit_comic_book_review_path(@comic_book, review) %>
    <% end %>
  </ul>

  <!--/Add A review & Review Section/-->
  <h2>Add a Review:</h2>
  <%= form_for([@comic_book, @comic_book.reviews.build]) do |f| %>
    <p>
      <%= f.label :body %><br>
      <%= f.text_area :body %>
    </p>
    <p>
      <%= f.label :rating %><br>
      <%= f.select(:rating, 1..10) %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
