<%= form_for([@comic_book, @review]) do |f| %>
<p>
  <%= f.label :body %><br>
  <%= f.text_area :body %>
</p>
<p>
  <%= f.label :rating %><br>
  <%= f.select(:rating, 1..10) %>
</p>
<p>
  <%= f.submit %>
</p>
<% end %>
