<!DOCTYPE html>
<html>
<head>
  <title>ComicBookApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <li class="brand"><%= link_to "Comic Reviews", root_path %></li>
      <li><%= link_to "Comics", comic_books_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Edit profile", edit_user_registration_path(current_user) %></li>
        <li><%= link_to "Sign out",
          destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <li><%= link_to "Sign in", new_user_session_path %></li>
      <% end %>
      <li>
        <%= form_tag(comic_books_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search comics" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
      </li>
    </ul>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

</body>
</html>
